<div class="devise-form signup-form <%= 'not-xhr' unless @xhr %>">
  <h2>Edit <%= resource_name.to_s.humanize %> Password</h2>

  <% if @xhr %>
    <div class="flash">
      <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%= message.html_safe %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form' }) do |f| %>

    <div class="field-group">
      <%#= f.label :email %>
      <%#= f.email_field :email, :class => 'text-field' %>
    </div>

    <div class="field-group">
      <%= f.label :current_password %>
      <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, :class => 'text-field' %>
    </div>

    <div class="field-group">
      <%= f.label :password %>
      <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => "off", :class => 'text-field' %>
    </div>

    <div class="field-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'text-field' %>
    </div>

    <div class="field-group form-action">
      <%= f.submit "Update", :class => 'button-link' %>
    </div>
  <% end %>

  <div>
    <h3>Cancel my account</h3>

    <p>
      Unhappy?
      <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
    </p>
  </div>


  <%= link_to "Back", user_path(current_user.slug) %>
</div>