<%= content_for :user_profile do %>
  <div class="user-profile-container">
    <div class="cover-photo-container">
      <%= image_tag @user.cover_url(:large), :alt => 'Cover Photo' %>
    </div>

    <div class="user-info-container">
      <div class="user-avatar">
        <% avtr = @user.avatar? ? @user.avatar_url(:medium) : 'default-user-avatar.png' %>
        <%= image_tag avtr, :alt => 'avtr' %>
      </div>

      <div class="user-name"><%= @user.fullname %></div>
      <ul class="user-detail">
        <% unless @user.address.blank? %><li class="location"><%= @user.address %></li><% end %>
        <% unless @user.facebook.blank? %><li class="facebook"><%= @user.facebook %></li><% end %>
        <% unless @user.twitter.blank? %><li class="twitter"><%= @user.twitter %></li><% end %>
        <% unless @user.website.blank? %><li class="website"><%= @user.website %></li><% end %>
      </ul>
    </div>

    <div class="clear"></div>
  </div>
<% end %>

<% if current_user && current_user.id == @user.id %>
  <div class="utab">
    <%= link_to "All", user_path(@user.slug), :class => ('active' if action_name == 'show') %>
    <%= link_to "Draft", user_draft_path(@user.slug), :class => ('active' if action_name == 'draft') %>
  </div>
<% end %>

<%= render :partial => '/home/posts-list.html' %>