<div class="item-detail-container">
  <div class="item-view-info">
    <span><%= @post.view || 0 %></span> views
  </div>
  <% unless @post.published? %>
    <div class="draft">
      <span>Draft</span>
    </div>
  <% end %>

  <div class="author-container">
    <div class="author-image">
      <% avtr = @post.user.avatar? ? @post.user.avatar_url(:medium) : 'default-user-avatar.png' %>
      <%= image_tag avtr, :alt => 'avtr', :class => 'user-thumb-image' %>
    </div>

    <div class="author-info">
      <%= link_to @post.user.fullname, user_path(@post.user.slug), :class => 'author-name-link' %>

      <div class="item-location"><%= @post.location.name %></div>
      <div class="item-category">
        <% @post.tag_list.each do |tag| %>
          <%= link_to tag.titleize, root_path(:tag => tag), :class => 'tag-list' %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="item-action">
      <% if can?(:manage, @post) %>
        <%= link_to 'Remove', post_path(@post.slug), :class => 'remove-link', :method => 'delete',
          :confirm => 'Are you sure you want to remove this post?' %>

        <%= link_to('Edit', edit_post_path(@post.slug), :class => 'edit-link') if can?(:edit, @post) %>

        <%= link_to('Renew', renew_posts_path(:slug => @post.slug), :class => 'renew-link') if can_renew?(@post) %>

        <%= link_to('Publish', publish_posts_path(@post.slug), :class => 'publish-link') if !@post.published? %>
      <% else %>

        <% if can_like?(@post) && can_report?(@post) %>
          <%= link_to('Like', like_posts_path(@post.slug), :class => 'like-link') if can_like?(@post) %>
          <%= link_to('x Report', report_posts_path(@post.slug), :class => 'report-link') if can_report?(@post) %>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="detail-image-container">
    <% img = @pi.present? ? @pi : @post.main_image %>
    <%= image_tag img.best_version(:large), :class => 'image', :id => "img-#{img.id}" %>
  </div>

  <div class="detail-stat">
    <span class="item-time"><%= "#{time_ago_in_words(@post.created_at)} ago" %></span>
    <span class="item-like"><%= pluralize(@post.like, 'Like') %></span>

    <div class="social-media-container">
      <div class="social-media pint-button">
        <%= pin_it_button(
          media: "#{request.protocol}#{request.host_with_port}#{@post.main_image.image_url}",
          description: @post.description, url: detail_url(@post.slug)
        ) %>
      </div>

      <div class="social-media twitter-button">
        <%= tweet_button(:count => 'horizontal') %>
      </div>

      <div class="social-media fb-button">
        <div class="fb-like" data-href="<%= detail_url(@post.slug) %>" data-send="true"
          data-layout="button_count" data-width="130" data-show-faces="false">
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="detail-description-info">
    <div class="detail-info-tab">
      <ul>
        <li>
          <%= link_to 'Description', detail_path(:slug => @post.slug, :info => 'description'),
            :id => 'description', :class => ('active' if @temp == 'description') %>
        </li><!--
     --><li>
          <%= link_to 'Deal', detail_path(:slug => @post.slug, :info => 'deal'),
            :id => 'deal', :class => ('active' if @temp == 'deal') %>
        </li><!--
     --><li>
          <%= link_to 'Photos', detail_path(:slug => @post.slug, :info => 'photo'),
            :id => 'photos', :class => ('active' if @temp == 'photo') %>
        </li>
      </ul>
      <div class="clear"></div>
    </div>

    <h2><%= @post.title %></h2>
    <div class="detail-info">
      <%= render :partial => "/home/detail-#{@temp}.html" %>
    </div>

  </div>


  <div class="post-comment-container">
    <div class="fb-comments" data-href="<%= detail_url(@post.slug) %>" data-num-posts="5" data-width="620"></div>
  </div>
</div>

<style type="text/css">
.pint-button iframe{
  width: 50px !important;
}
</style>