<div class="header">
  <h1 class="logo">
    <%= link_to image_tag('opportux-logo.png', :alt => "Opportux"), '/' %>
  </h1>

  <ul class="header-menu">
    <li><%= link_to 'Twitter', '#' %></li>
    <li><%= link_to 'Upload', new_post_path %></li>
    <li><%= link_to 'Categories', '#' %></li>
    <li><%= link_to 'Login', '#' %></li>
    <li><%= link_to 'Search', '#' %></li>
  </ul>
  <div class="clear"></div>
</div>