<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/assets/faveicon.png">

  <title>Opportux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
</head>
<body class="admin-site">
  <div class="wrapper">
    <div class="header-container">
      <div class="header-wrapper">
        <div class="header">
          <div class="header-logo">
            <%= link_to image_tag('logo-header.png', :alt => 'Opportux'), root_path %>
          </div>
          <div class="header-separator"></div>

          <div class="header-menu">
            <%= link_to 'Dashboard', admin_root_path, :class => ('active' if action_name == 'dashboard') %>
            <%= link_to 'Post', admins_posts_path, :class => ('active' if controller_name == 'posts') %>
            <%= link_to 'Advertise', admins_advertises_path, :class => ('active' if controller_name == 'advertises') %>
            <%= link_to 'Content', admins_contents_path, :class => ('active' if controller_name == 'contents') %>
          </div>

          <div class="header-menu user-menu <%= 'header-login-link' unless current_user %>">
            <% if current_admin %>
              <%= link_to 'Logout', destroy_admin_session_path, :method => 'delete' %>
            <% end %>
          </div>
          <div class="header-separator right"></div>

          <div class="header-menu header-search">
            <%= link_to image_tag('header-search.png', :alt => 'S'), '#', :class => 'h-search' %>
          </div>
          <div class="clear"></div>

        </div>
      </div>
    </div>

    <div class="search-fix">
      <div class="search-form-container">
        <%= form_for 'search', :url => root_path, :html => {:class => 'search-form', :method => :get} do |f| %>
          <div class="search-field-container">
            <span class="s-image">&nbsp;</span>
            <%= f.text_field 'term', :class => 'search-field', :placeholder => "Search", :value => (params[:search][:term] if params[:search]) %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="main-content">
        <%= yield %>
      </div>

    </div>

    <div class="footer-wrapper">
      <div class="footer">
        <span class="copy-right">Copyright &copy; Opportux.com</span>

        <div class="footer-right">Developed by ones07 - <%= link_to 'Kuyainside.com', 'http://www.kuyainside.com', :target => '_blank' %></div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

  <%= yield :js %>

  <% if flash %>
    <div class="home-message-container">
      <% flash.each do |type, message| -%>
        <div class="home-message <%= type %>">
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
  <% end %>
</body>
</html>