<!DOCTYPE html>
<html>
<head prefix="<%= "og: http://ogp.me/ns# opp-dev: http://ogp.me/ns/fb/opp-dev#" %>">
  <link rel="icon" type="image/png" href="/assets/faveicon.png">

  <meta name="google-site-verification" content="PHRMF4_1ZKfeSFTOUJdXJq-5unYmLeVmexpqs8-nvgk" />
  <% if !@post.blank? && !@post.try(:id).blank? %>
    <meta property='og:site_name' content='Opportux' />
    <meta property='og:title' content='<%= @post.title %>' />
    <meta property='og:url' content='<%= detail_url(@post.slug || 'new') %>' />
    <meta property='og:type' content='image' />
    <meta property='fb:admins' content='1679013992' />
    <meta property='og:image' content='http://opportux.com/<%= @post.main_image.image_url %>' />
    <meta property='og:description' content='<%= @post.description %>' />
  <% else %>
    <%= raw fb_meta %>
  <% end %>

  <title>Opportux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>

  <%= render :partial => 'layouts/ga.html' if Rails.env == 'production' %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=226928547429777";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="wrapper">
    <div class="header-container">
      <div class="header-wrapper">

        <div class="header">
          <div class="header-logo">
            <%= link_to image_tag('logo-header.png', :alt => 'Opportux'), root_path %>
          </div>
          <div class="header-separator"></div>

          <!-- <div class="header-menu facetweet">
            <%= link_to image_tag('header-facebook.png', :alt => 'f'), '#', :class => 'h-face' %>
            <%= link_to image_tag('header-twitter.png', :alt => 't'), '#', :class => 'h-tweet' %>
          </div> -->

          <div class="header-menu category">
            <%= link_to("#{image_tag('header-bussiness.png', :alt => 'B')} <span>Business</span>".html_safe,
              business_path, :class => ('active' if controller_name == 'home' && action_name == 'business')) %>
            <%= link_to("#{image_tag('header-people.png', :alt => 'P')} <span>People</span>".html_safe,
              people_path, :class => ('active' if controller_name == 'home' && action_name == 'people')) %>
            <%= link_to("#{image_tag('header-project.png', :alt => 'P')} <span>Project</span>".html_safe,
              project_path, :class => ('active' if controller_name == 'home' && action_name == 'project')) %>
            <%= link_to("#{image_tag('header-upload.png', :alt => 'U')} <span>Upload</span>".html_safe,
              new_post_path, :class => ('active' if controller_name == 'posts' && ['new', 'create'].include?(action_name))) %>
          </div>

          <div class="header-menu how-it-work">
            <%= link_to "How It Works", howitworks_path, :class => ('active' if request.fullpath == '/howitworks') %>
          </div>

          <div class="header-menu user-menu <%= 'header-login-link' unless current_user %>">
            <% if !current_user && !current_admin %>
              <%= link_to "<i>Sign Up</i>".html_safe, new_registration_path('user'), :rel => 'facebox', :class => 'header-sign-up' %>
              <%= link_to "Login", new_user_session_path, :rel => 'facebox', :class => 'header-login' %>
            <% elsif current_user %>
              <% av = current_user.avatar? ? "<span class='menu-user-avatar'>#{image_tag current_user.avatar_url(:thumb), :id => 'umenu-avtr'}</span>" : '' %>
              <%= link_to "#{av}<span class='uname' id='umenu-name'>#{current_user.try(:fullname)}</span>
                  <span class='umenu' id='umenu-arrow'></span>".html_safe,
                "#", :id => 'umenu-link' %>
              <div class="clear"></div>

              <div id="hmenu-container" class="hmenu-container">
                <ul>
                  <li><%= link_to 'Dashboard', user_path(current_user.slug) %></li>
                  <li><%= link_to 'Update Profile', edit_user_path(current_user.slug) %></li>
                  <li><%= link_to 'Update Password', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
                </ul>
              </div>
              <div class="clear"></div>
            <% elsif current_admin %>
              <%= link_to 'Logout', destroy_admin_session_path, :method => 'delete' %>
            <% end %>
          </div>
          <div class="header-separator right"></div>

          <div class="header-menu header-search">
            <%= link_to image_tag('header-search.png', :alt => 'S'), '#search', :class => 'h-search' %>
          </div>
          <div class="clear"></div>

        </div>
      </div>
    </div>

    <div class="search-fix">
      <div class="search-form-container">
        <%= form_for 'search', :url => root_path, :html => {:class => 'search-form', :method => :get} do |f| %>
          <div class="search-field-container">
            <span class="s-image">&nbsp;</span>
            <%= f.text_field 'term', :class => 'search-field', :placeholder => "Search", :value => (params[:search][:term] if params[:search]) %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield :top_thumb %>
    <%= yield :user_profile %>

    <div class="content-wrapper">
      <div class="main-content">

        <% if ['people', 'business', 'project'].include?(action_name) %>
          <div class="categories-list">
            <span>CATEGORY</span>
            <ul>
              <% send("#{action_name}_categories").each do |tag| %>
                <li>
                  <%= link_to tag.titleize, "?tag=#{tag.downcase}", :class => '' %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= yield %>
      </div>

      <div class="right-content">
        <%#= link_to 'SIGN UP', new_registration_path('user'), :class => 'sign-up-link', :rel => 'facebox' unless current_user %>

        <div class="big-adv">
          <% if @big_adv %>
            <%= link_to image_tag(@big_adv.image_url(:big)), @big_adv.url, :title => @big_adv.title, :target => "_blank" %>
          <% else %>
            <%= link_to image_tag('dummy/adv-big.png', :alt => ''), '#' %>
          <% end %>
        </div>

        <div class="medium-adv-container">
          <% if @medium_advs %>
            <% @medium_advs.each do |adv| %>
              <div class="medium-adv"><%= link_to image_tag(adv.image_url(:medium)), adv.url, :title => adv.title, :target => "_blank" %></div>
            <% end %>
          <% else %>
            <div class="medium-adv"><%= link_to image_tag('dummy/adv-medium-1.png', :alt => ''), '#' %></div>
            <div class="medium-adv"><%= link_to image_tag('dummy/adv-medium-2.png', :alt => ''), '#' %></div>
          <% end %>
          <div class="clear"></div>
        </div>

        <% if @small_advs %>
          <div class="little-adv">
            <div class="little-adv-title">SPONSORED</div>

            <ul class="little-adv-list">
              <% @small_advs.each do |adv| %>
                <li>
                  <div class="adv-img">
                    <%= link_to image_tag(adv.image_url(:small)), adv.url, :title => adv.title, :target => "_blank" %>
                  </div>

                  <div class="little-adv-info">
                    <span class="little-adv-info-title"><%= link_to adv.title, adv.url %></span>
                    <span class="little-adv-desc">
                      <p><%= truncate(adv.description, :length => 80) %></p>
                    </span>
                  </div>
                  <div class="clear"></div>
                </li>
              <% end %>
            </ul>

          </div>
        <% end %>

        <% unless top_views.blank? %>
          <div class="most-view-container">
            <div class="most-view-title">Most View</div>

            <ul class="most-view-list">
              <% top_views.each_with_index do |tv, tvi| %>
                <li><%= link_to tv.title, home_path(tv.slug) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      </div>
      <div class="clear"></div>

    </div>

    <div class="footer-wrapper">
      <div class="footer">
        <span class="copy-right">Copyright &copy; Opportux.com</span>

        <div class="footer-menu">
          <%= link_to 'About Us', about_us_path %>
          <%= link_to 'Faq', faq_path %>
          <%= link_to 'Terms and Conditions', term_path %>
          <%= link_to 'Policy', policy_path %>
          <%= link_to image_tag('bg-user-facebook.png'), 'http://www.facebook.com/opportux', target: '_blank', class: 'social-link' %>
          <%= link_to image_tag('bg-user-twitter.png'), 'http://www.twitter.com/opportux', target: '_blank', class: 'social-link social-twitter' %>
          <div class="clear"></div>
        </div>

        <%= link_to image_tag('back-to-top.png', :alt => 'Back to top'), '#', :class => 'back-to-top' %>
        <div class="footer-right">Developed by ones07 - <%= link_to 'Kuyainside.com', 'http://www.kuyainside.com', :target => '_blank' %></div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

  <%= yield :js %>

  <% if flash %>
    <div class="home-message-container">
      <% flash.each do |type, message| -%>
        <div class="home-message <%= type %>">
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
  <% end %>

</body>
</html>