<!DOCTYPE html>
<html>
<head>
  <title>Opportux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
</head>
<body>
  <div class="wrapper">
    <div class="header-wrapper">
      <div class="header">
        <div class="header-logo">
          <%= link_to image_tag('logo-header.png', :alt => 'Opportux'), root_path %>
        </div>
        <div class="header-separator"></div>

        <div class="header-menu facetweet">
          <%= link_to image_tag('header-facebook.png', :alt => 'f'), '#', :class => 'h-face' %>
          <%= link_to image_tag('header-twitter.png', :alt => 't'), '#', :class => 'h-tweet' %>
        </div>

        <div class="header-menu category">
          <%= link_to("#{image_tag('header-bussiness.png', :alt => 'B')} <span>Business</span>".html_safe, 
            business_path, :class => ('active' if controller_name == 'home' && action_name == 'business')) %>
          <%= link_to("#{image_tag('header-people.png', :alt => 'P')} <span>People</span>".html_safe, 
            people_path, :class => ('active' if controller_name == 'home' && action_name == 'people')) %>
          <%= link_to("#{image_tag('header-upload.png', :alt => 'U')} <span>Upload</span>".html_safe, 
            new_post_path, :class => ('active' if controller_name == 'posts' && action_name == 'new')) %>
        </div>

        <div class="header-menu user-menu <%= 'header-login-link' unless current_user %>">
          <% unless current_user %>
            <%= link_to "Login", new_user_session_path, :rel => 'facebox' %>
          <% else %>
            <%= link_to "#{truncate(current_user.fullname, :length => 25)}<span class='umenu'></span>".html_safe, "#", :id => 'umenu-link' %>
            <div class="clear"></div>

            <div id="hmenu-container" class="hmenu-container">
              <ul>
                <li><%= link_to 'Dashboad', '#dashboard' %></li>
                <li><%= link_to 'Setting', '#setting' %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
              </ul>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
        <div class="header-separator right"></div>

        <div class="header-menu header-search">
          <%= link_to image_tag('header-search.png', :alt => 'S'), '#', :class => 'h-search' %>
        </div>
        <div class="clear"></div>

      </div>
    </div>

    <div class="search-form-container">
      <%= form_for 'search', :url => '#search', :class => 'search-form' do |f| %>
        <div class="search-field-container">
          <span class="s-image">&nbsp;</span>
          <%= f.text_field 'search', :class => 'search-field', :placeholder => "Search" %>
        </div>
      <% end %>
    </div>

    <%= yield :top_thumb %>
    
    <div class="content-wrapper">
      <div class="main-content">
        <%= yield %>
      </div>

      <div class="right-content">
        <%= link_to 'SIGN UP', new_registration_path('user'), :class => 'sign-up-link', :rel => 'facebox' unless current_user %>

        <div class="big-adv">
          <%= link_to image_tag('dummy/adv-big.png', :alt => ''), '#' %>
        </div>

        <div class="medium-adv-container">
          <div class="medium-adv"><%= link_to image_tag('dummy/adv-medium-1.png', :alt => ''), '#' %></div>
          <div class="medium-adv"><%= link_to image_tag('dummy/adv-medium-2.png', :alt => ''), '#' %></div>
          <div class="clear"></div>
        </div>

        <% unless top_views.blank? %>
          <div class="most-view-container">
            <div class="most-view-title">Most View</div>
            
            <ul class="most-view-list">
              <% top_views.each_with_index do |tv, tvi| %>
                <li><%= link_to truncate(tv.title, :length => 50), home_path(tv.slug) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="little-adv">
          <div class="little-adv-title">SPONSORED</div>

          <ul class="little-adv-list">
            <li>
              <div class="adv-img">
                <%= link_to image_tag('dummy/adv-little.png', :alt => ''), '#' %>
              </div>

              <div class="little-adv-info">
                <span class="little-adv-info-title"><%= link_to 'Motor Ninja', '#' %></span>
                <span class="little-adv-desc">
                  <p>
                    Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting.
                  </p>
                </span>
              </div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="adv-img">
                <%= link_to image_tag('dummy/adv-little.png', :alt => ''), '#' %>
              </div>

              <div class="little-adv-info">
                <span class="little-adv-info-title"><%= link_to 'Motor Ninja', '#' %></span>
                <span class="little-adv-desc">
                  <p>
                    Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting.
                  </p>
                </span>
              </div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="adv-img">
                <%= link_to image_tag('dummy/adv-little.png', :alt => ''), '#' %>
              </div>

              <div class="little-adv-info">
                <span class="little-adv-info-title"><%= link_to 'Motor Ninja', '#' %></span>
                <span class="little-adv-desc">
                  <p>
                    Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting.
                  </p>
                </span>
              </div>
              <div class="clear"></div>
            </li>
            <li>
              <div class="adv-img">
                <%= link_to image_tag('dummy/adv-little.png', :alt => ''), '#' %>
              </div>

              <div class="little-adv-info">
                <span class="little-adv-info-title"><%= link_to 'Motor Ninja', '#' %></span>
                <span class="little-adv-desc">
                  <p>
                    Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting.
                  </p>
                </span>
              </div>
              <div class="clear"></div>
            </li>
          </ul>

        </div>

      </div>
      <div class="clear"></div>

    </div>

    <div class="about-info-wrapper">
      <div class="about-info">
        <%= link_to image_tag('back-to-top.png', :alt => 'Back to top'), '#', :class => 'back-to-top' %>

        <div class="about-us">
          <%= image_tag 'logo.png', :alt => 'Opportux', :class => 'footer-logo' %>

          <p>
            Lorem Ipsum adalah contoh teks atau dummy dalam industri percetakan dan penataan huruf atau typesetting. Lorem Ipsum telah menjadi standar contoh teks sejak tahun 1500an, saat seorang tukang cetak yang tidak dikenal mengambil sebuah kumpulan teks dan mengacaknya untuk menjadi sebuah buku contoh huruf.
          </p>
        </div>

        <div class="contact-us">
          <span class="footer-title">Contact Us</span>

          <p>
            Email: andre.budiman@gmail.com<br />
            Address: Jl Jend Sudirman kav 59, Jakarta, Indonesia<br />
            Phone: 021-892836492
          </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div class="footer-wrapper">
      <div class="footer">
        <span class="copy-right">Copyright &copy; Opportux.com</span>

        <div class="footer-menu">
          <%= link_to 'Disclaimer', '#disclaimer' %>
          <%= link_to 'Policy', '#policy' %>
        </div>

        <div class="footer-right">Designed by <%= link_to 'Salamud.in', 'http://salamud.in', :target => '_blank' %></div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

  <%= yield :js %>

  <% if flash %>
    <div class="home-message-container">
      <% flash.each do |type, message| -%>
        <div class="home-message <%= type %>">
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
  <% end %>
</body>
</html>